:root {
    --smooth: 0.5s;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 100%;
    line-height: 1.6rem;
    font-family: 'Smooch Sans', sans-serif;
}

li {
    list-style: none;
}

body {
    color: #141c3a;
    font-weight: 400;
}

.navbar-item a {
    border-width: 2px;
    font-weight: 400;
    font-size: 18px;
    padding: 1.2rem;
    color: #7510F7;
    border-color: #7510F7;
}

.navbar-item a:hover {
    background-color: #7510F7;
    border-color: #7510F7;
    color: #fff;
    transition: var(--smooth);
}

.navbar-brand {
    display: contents;
}

.hero-body {
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 3rem 1.5rem;
}

.section.is-primary {
    background-color: #7510F7;
    color: #fff;
}

.section.is-primary .subtitle {
    color: #fff;
}

.title {
    color: #fff;
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.125;
}

.subtitle {
    font-weight: 300;
}

figure.image {
    width: max-content;
    margin: auto;
}

.border-right {
    padding: 70px 45px;
    border-bottom: 0px solid #E6ECF8;
    border-right: 1px solid #E6ECF8;
}

.section.skills .box {
    padding: 0;
}

.box {
    border-radius: 12px;
    border: 1px solid #E6ECF8;
}

.container.is-narrow {
    max-width: 1200px;
    overflow: hidden;
}

.has-text-primary {
    color: #7510F7 !important;
}

.section.skills .box .content .columns .column ul {
    list-style: none;
    margin-left: 0;
    margin-top: 0;
}

.section.skills {
    margin-top: -14rem;
    padding-bottom: 1rem;
}

.section.is-long {
    padding-bottom: 18rem;
}

.title {
    color: #141c3a;
    font-weight: 800;
}

a {
    color: #7510F7;
    font-weight: 400
}

.subtitle:not(:last-child) {
    margin-bottom: 1.5rem;
}

.image.project {
    height: 100%;
    width: 100%;
}

.image.project img {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

figure.image.fix {
    width: 35%;
}

.columns.is-multiline.is-mobile {
    align-items: center;
}

.projects .project-grid figure figcaption a.button.is-primary.is-outlined.is-rounded {
    margin: 0 auto;
    font-size: 18px;
    padding: 1.2rem;
    font-weight: 400;
    border-width: 2px;
    color: white;
}

.projects .project-grid figure {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
}

.image.project {
    padding-top: 66.6666%;
}

.column-image {
    position: relative;
}

.image {
    opacity: 1;
    border-radius: 12px;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: 1s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.column-image:hover .image {
    opacity: 0.2;
    transition: var(--smooth);
}

.column-image:hover .middle {
    opacity: 1;
    transition: var(--smooth);
}

.column-image:hover {
    transition: 1s ease;
    border: 1px solid #7510F7;
    border-radius: 12px;
}

.text {
    margin: 0 auto;
    font-size: 18px;
    padding: 1.2rem;
    font-weight: 400;
    border-width: 2px;
    color: #fff;
    border-color: #7510F7;
    background-color: #141c3a;
}

.button:hover {
    border-color: #141c3a;
    background-color: #7510F7;
    color: #fff;
    transition: var(--smooth);
}

.project-grid {
    padding-top: 4rem;
}

.hello {
    color: #fff;
}

.section.clients .client-grid {
    padding-top: 3rem;
}

footer .title {
    font-weight: 300;
    font-size: 1.6rem;
    margin: 2rem auto;
    max-width: 300px;
    opacity: 0.7;
}

footer .social-icons a.button {
    background-color: transparent;
    color: white;
    border-radius: 100%;
    margin: 0 0.2rem;
    height: 47px;
    width: 47px;
    border: 2px solid rgba(255, 255, 255, 0.3);
}

footer .social-icons a.button:hover {
    background: white;
    color: #7510F7;
    border: 2px solid white;
}

footer .social-icons {
    margin: 0 auto 3.5rem;
}

.section.is-primary .title {
    color: #fff;
}

.section.skills .box .content .columns .column {
    padding: 50px 30px;
    border-bottom: 1px solid #E6ECF8;
}

.has-border-top {
    border-top: 1px solid #E6ECF8;
}

footer .social-icons a.button {
    top: -8px;
}